<!-- /photos/templates/photos/index.html -->
{% extends "photos/base.html" %}

{% block title %}Photography Website - Home{% endblock %}

{% block content %}

<div class="hero-section flex justify-center items-center bg-gray-900 mb-16 md:mb-24">
    <img src="/static/Hero.jpg" class="w-full h-full object-cover">
</div>

<div class="p-4 mx-auto" id="me">
    <h2 class="text-5xl text-center font-bold mb-16 md:mb-24">About me</h2>
    <div class="flex flex-col mb-16">
        <div class="mb-4 md:mb-0 md:mr-4 justify-center items-center mx-4 sm:mx-8 md:mx-12 lg:mx-16">
            <img src="/static/my-photo.jpg" class="rounded-full w-60 h-60 mx-auto mb-4">
        </div>
        <div class="text-eg mx-4 sm:mx-8 md:mx-12 lg:mx-16 mb-8 justify-center md:justify-center items-center text-center md:text-left">
            <p class="text-justify lg:mx-32">
                <span class="text-3xl font-semibold">Hello,</span><br>
                I am Marvin, a passionate photographer based in Dresden, Germany. <br> 
                Ever since I started taking pictures in 2018, I have been on an incredible journey of growth and exploration in the world of photography. It all began with my trusty phone camera, capturing moments and scenes that caught my eye.

                In 2019, I took a leap and invested in my first full-frame camera, which opened up a whole new world of possibilities.
                Since then, I have been dedicated to honing my skills and expanding my knowledge. Each year, I challenge myself to learn new techniques and push the boundaries of my creativity.

                I am proud to say that I am entirely self-taught, constantly seeking inspiration from fellow photographers and experimenting with different styles and genres. My goal is to capture images that evoke emotions and tell stories, whether it's the breathtaking beauty of landscapes, the raw and intimate moments of portraits, or the vibrant energy of street photography.

                Photography has become more than just a hobby for me; it has reached a professional level where I strive to create images that leave a lasting impact. I am always seeking new opportunities and collaborations, so if you have any questions or would like to work together, please don't hesitate to reach out to me.

                Thank you for joining me on this incredible journey through the lens!

            </p>
        </div>
    </div>

    <h2 class="text-5xl text-center font-bold mt-8 mb-16 md:mb-24">Galerie</h2>
    <!-- Gallery Section -->
    <div class="grid grid-cols-1 gap-4 md:gap-6 xl:gap-8 mx-4 sm:mx-8 md:mx-12 lg:mx-16">
        {% for category in categories %}
        <div class="mb-8">
            <h3 class="text-3xl font-bold mb-4">{{ category.name }}</h3>
            <div class="grid grid-cols-1 gap-5 sm:grid-cols-2 sm:gap-8 md:grid-cols-2 lg:grid-cols-2 mt-8">
                {% for subcategory in category.subcategories.all|slice:":100" %}
                {% with subcategory.photos.first as first_photo %}
                <a href="{% url 'photos:subcategory_view' category.name subcategory.name %}" class="group relative block overflow-hidden rounded-lg bg-gray-100 shadow-lg">
                    <img src="{{ first_photo.image.url }}" loading="lazy" alt="{{ subcategory.name }}" class="absolute inset-0 h-fulll w-full object-cover object-center transition duration-200 group-hover:scale-110" />

                    <div class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"></div>

                    <span class="absolute bottom-4 left-4 text-xl text-gray-300 md:text-sm font-normal">{{ subcategory.name }}</span>
                </a>
                {% endwith %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    </div>    
</div>
  
{% endblock %}
