<!-- /photos/templates/photos/index.html -->
{% extends "photos/base.html" %}

{% block title %}Photography Website - Home{% endblock %}

{% block content %}
<!-- Picture of You (Place it in /photos/static and name it my-photo.jpg) -->
<div class="text-center">
    <img src="/static/my-photo.jpg" class="rounded-full w-40 h-40 mx-auto mb-4">
</div>
<!-- Short Description -->
<div class="flex justify-center">
    <p class="text-lg mb-8 w-9/12 text-justify">
        <!-- Add a short description about yourself here -->
        Your Description Here
    </p>
</div>

<!-- Recently Uploaded Photos -->
<h2 class="text-2xl font-bold mx-8 mb-4">Recently Uploaded Photos</h2>
<div class="p-5 sm:p-8">
        <div class="columns-1 gap-5 sm:columns-2 sm:gap-8 md:columns-3 lg:columns-4 [&>img:not(:first-child)]:mt-8">
            {% for photo in recent_photos %}
            <img src="{{ photo.image.url }}" alt="{{ photo.title }}" class="object-cover w-full h-full rounded">
            {% endfor %}
        </div>
</div>
  
  
{% endblock %}
